<div class="jumbotron center">
	 <h2 style="font-size:250%">See how close your loved ones are to you!</h2>
     <p>
     		<img src="http://i.imgur.com/J1ZzVtyl.png"/>
       <!--%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %-->
  	</p>    
</div>